body {
    font-size: 20px;
    font-weight: 400;
    color: black;
}

header {
    background-color: black;
    height: 150px;
}

.Avatar {
    border-radius: 100%;
    position: absolute;
    right: 90px;
    top: 30px;
}

.Bigger {
    position: static;
    margin-top: 30px;
    margin-left: 90px;
}

.Logo {
    position: absolute;
    left: 90px;
    top: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.UserName {
    font-size: 24px;
    text-align: center;
}

.Direction {
    text-align: center;
    font-weight: 300;
    color: #6C6C6C;
}

.Search {
    text-align: center;
    font-weight: 400;
}

.InSearch {
    color: #568c35;
}

.Notification {
    position: absolute;
    right: 210px;
    top: 52px;
    transform-origin: 50% 0;
}

@keyframes swing {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(10deg);
    }
    40% {
        transform: rotate(-10deg);
    }
    60% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.Notification:hover {
    animation: swing 0.5s ease-in-out;
}


.PublishProject {
    font-size: 19px;
    color: white;
    position: absolute;
    border: 3px solid white;
    padding: 5px 23px;
    width: 245px;
    height: 45px;
    border-radius: 23px;
    right: 287px;
    top: 52px;
}

.Filter, .Filter input[type=text], .filter-placeholder {
    border: 3px solid black;
    width: 510px; /* Установите ширину, которая соответствует вашей кнопке */
    transition: height 0.3s ease; /* Добавьте переход для изменения высоты */
}

.button-text {
    padding: 10px 56px;
}

.Filter {
    height: 60px;
    position: relative;
    border-radius: 30px;
    top: 60px;
    left: 90px;
    cursor: pointer;
    overflow: hidden;
}

.Filter input[type=text] {
    padding-left: 30px;
    padding-top: 27px;
    padding-bottom: 24px;
    border: none;
    width: 85%; /* Установите ширину ввода равной 100% ширины родительского элемента */
    box-sizing: border-box; /* Убедитесь, что padding не влияет на общую ширину */
}

.filter-content {
    opacity: 0; /* Скрытое содержимое изначально прозрачно */
    transition: opacity 0.3s ease, height 0.3s ease; /* Плавный переход для opacity и height */
}

.filterGridSystem {
    display: grid;
    border-top: 3px solid black;
    grid-template-columns: 0.4fr 0.6fr;
    height: 100%;
}

.filterGridSystem li {
    margin-bottom: 24px;
}

.FilterNaming {
    padding-top: 25px;
    padding-left: 30px;
    border-right: 3px solid black;
    margin: 0;
}

.FilterValue {
    font-size: 18px;
    padding-top: 25px;
    padding-left: 30px;
    margin-right: 60px;
}

.FilterValue li {
    border: 2px solid black;
    border-radius: 15px;
    padding-left: 20px;
}


.User-1 {
    position: relative;
    top: 90px;
    left: 90px;
    border: 3px solid black;
    border-radius: 11px;
    width: 390px;
    height: 660px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
}

.User-1:hover {
    transform: translateY(-3px) scale(1.01);
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.25);
}

.UserGrid {
    display: grid;
    justify-content: space-around;

}

.UserName {
    grid-column-start: 1;
    grid-column-end: 5;
    margin: 0;
}

.centerInfo {
    grid-column-start: 1;
    grid-column-end: 5;
    margin-bottom: 10px;
}

.naming {
    margin-left: 30px;
}

.naming li {
    margin-bottom: 15px;
}

.description {
    margin-right: 30px;
    text-align: right;
    font-weight: 300;
}

.description li {
    margin-bottom: 15px;
}

.portfolioButton{
    font-size: 16px;
    border: 3px solid black;
    border-radius: 20px;
    width: 120px;
    height: 30px;
    text-align: center;
    position: relative;
    left: 240px;
}

